* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  box-sizing: border-box;
  font-size: 24px;
  color: #424242;
}
body, html {
  width: 100%;
  height: 100%;
}
body {
  background: #f5d9d9;
}
.container {
  background: #f5d9d9;
  display: flex;
  flex-flow: column nowrap;
}
.info-panel {
  font-size: 24px;
  width: 80vmin;
  text-align: center;
  background: #f5d9d9;
  align-self: center;
}
.board {
  width: 79vmin;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 0;
  align-self: center;
}
.card {
  width: 18vmin;
  height: 18vmin;
  background: rgb(136, 96, 136);
  border-radius: 10%;
  border-color: #f5d9d9;
  box-shadow: 0 8px 10px -5px #76A;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s, background-color 1s 0.5s linear;
}
.card:before {
  content:'';
  display: block;
  padding-top:100%;
}
.card:hover{
  cursor: pointer;
  transform: scale(1.05);
}
.card.success {
  background-color: #549a76;;
}
.card.error{
  background-color: red;
}
.card.shown {
  transform: rotateY(180deg) scale(1.05);
}
.card-content {
  color: #f5d9d9;
  opacity: 0;
  font-size: 10vmin;
  transition: opacity 500ms 0.2s, transform 200ms 0.2s;

}
.card-content.shown {
  opacity: 1;
  transform: rotateY(180deg);
}
.refresh-button {
  width: 140px;
  height: 50px;
  border: 1px solid  rgb(136, 96, 136);
  border-radius: 5px;
  box-shadow: 13px 10px 20px -7px rgba(92,86,92,0.73);
  margin: 10px 0;
  background: rgb(136, 96, 136);
  color: #f5d9d9;
  transition: transform 0.3s;
}
.refresh-button:hover{
  transform: scale(1.08);
  cursor: pointer;
}
.winner-modal {
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background: rgba(69, 105, 79, 0.5);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.winner-content{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #f5d9d9;;
  padding: 0 20px;
  min-width: 40%;
  min-height: 40%;
  background: goldenrod;
  padding-top: 50px;
}
.cancel-button{
  position:absolute;
  top: 5px;
  right:5px;
  width: 25px;
  height:25px;
  font-size: 17px;
  text-align: center;
  border: 2px solid #f5d9d9;;
  border-radius: 50%;
  padding-bottom: 20px;
  color: #f5d9d9;;
  background:goldenrod;
  cursor: pointer;
}
.cancel-button:hover{
  transform: scale(1.1);
}
.winner-content h1 {
  font-size: 50px;
  color: #f5d9d9;
  text-align: center;
}
.winner-content p {
  font-size: 32px;
  color: #f5d9d9;
}

.fa-star {
  padding-top: 10px;
}
.fa-star.checked {
  color: goldenrod;
}

@media (min-width: 980px) and (orientation:landscape) {
   /* @media (orientation:landscape) { */
  .container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    padding-top: 20px;
  }
  .info-panel {
    width: 30%;
    text-align: center;
    align-self: flex-start;
  }
  .card {
    width: 21vmin;
    height: 21vmin;
  }
  .board {
    width: 92vmin;
  }
}